body {
    background-color: rgb(209, 209, 209);
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-size: 5rem;
}